{{ $params := . }}
{{ with site.GetPage $params.authorPath }}
  <div class="row text-center align-items-center">
    <div class="col-2"></div>
    <div class="col-6 text-right">
      {{ if $params.showAuthorName }}
        <h1 class="h5 inter-font mb-0">{{ .Params.title }}</h1>
      {{end}}
      {{ if .Params.caption.enable }}
        <h1 class="h4 inter-font mb-0"><a href="{{.Permalink}}"><i class="las la-angle-double-left"></i>{{ .Params.caption.title | markdownify }}<i class="las la-angle-double-right"></i></a></h1>
      {{end}}
      {{ if .Params.social.enable }}
        <ul class="social-links list-unstyled list-inline">
          {{ range .Params.social.social_links }}
          <li class="list-inline-item"><a href="{{.link | safeURL}}" target="_blank">
              <i class="lab {{.icon}}"></i>
            </a></li> 
          {{end}}
        </ul>
      {{end}}
    </div>
    <div class="col-sm rounded text-left p-5">
      {{if .Params.image}}
        <a href="{{.Permalink}}">{{ partial "image.html" (dict "Src" .Params.image "Class" "img-fluid" "Alt" "Adri Antunez image") }}</a>
      {{else}}
        {{ partial "image.html" (dict "Src" "images/authors/unknown.png" "Class" "img-fluid rounded-circle" "Alt" "Unknown author image") }}
      {{end}}
    </div>
  </div>
{{end}}